        body {
            font-family: "Microsoft JhengHei";
            width: 1000px;
        }
        
        #top {
            width: 100%;
            margin: 0 auto;
        }
        
        li {
            list-style: none;
            display: inline-block;
            margin: 30px 40px;
        }
        
        #menu {
            width: 80%;
            margin: 0 auto;
        }