        body {
            font-family: "Microsoft JhengHei";
            width: 1000px;
            margin: 0 auto;
        }
        
        #top {
            width: 100%;
            margin: 0 auto;
        }
        
        li {
            list-style: none;
            display: inline-block;
            margin: 30px 80px 0;
        }
        
        #menu {
            width: 100%;
            margin: 0 auto;
            background: #66FFE6;
        }
        
        #content {
            background: #73E68C;
            width: 100%;
            margin: 0 auto;
            color: #483D8B;
            text-align: center;
        }